.new {
    width: 100%;
    display: flex;
}

.new .newContainer {
    flex: 6;
}

.new .newContainer .top,
.new .newContainer .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.new .newContainer h1 {
    color: lightgray;
    font-size: 20px;
}

.new .newContainer .left {
    flex: 1;
    text-align: center;
}

.new .newContainer .left img {
    width: 200px;
    height: 200px;

    object-fit: cover;
}

.new .newContainer .right {
    flex: 20;
}

.new .newContainer .right form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.new .newContainer .right form .formInput {
    width: 40%;
}

.new .newContainer .right form .formInput label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.new .newContainer .right form .formInput label .icon {
    cursor: pointer;
}

.new .newContainer .right form .formInput input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

.new .newContainer .right form button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}